.explanationspan {
  /* border: 1px solid green; */
  padding: 2px;
  display: inline;
  /* line-height: 1.5em; */
}

.barviz {
  /* border: 2px solid green; */
  /* background: green; */
  overflow: scroll;
}

.barrect {
  stroke: white;
  stroke-width: 2px;
  fill: #0062ff;
}
