name: docs

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      # Standard drop-in approach that should work for most people.

      # Example of using a custom build-command.
      - uses: ammaraskar/sphinx-action@master
        with:
          build-command: "pip install sphinx_rtd_theme && sphinx-build -b html . _build"
          docs-folder: "docs/"

      # Great extra actions to compose with:
      # Create an artifact of the html output.
      - uses: actions/upload-artifact@v1
        with:
          name: DocumentationHTML
          path: docs/_build/html/
      # Create an artifact out of the previously built pdf.
      - uses: actions/upload-artifact@v1
        with:
          name: Documentation
          path: docs2/_build/latex/pdfexample.pdf
      # Publish built docs to gh-pages branch.
      # ===============================
      - name: Commit documentation changes
        run: |
          git clone https://github.com/victorddibia/neuralqa.git --branch gh-pages --single-branch gh-pages
          cp -r docs/_build/html/* gh-pages/
          cd gh-pages
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Update documentation" -a || true
          # The above command will fail if no changes were present, so we ignore
          # that.
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          branch: gh-pages
          directory: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
    # ===============================
